<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<div class="container">
  <h1 style="text-align: center">Sales Admin</h1>

  <div id="dvImportSegments" class="fileupload ">
      <fieldset>
          <legend>Upload .csv file with sales data</legend>
              <input type="file" name="File Upload" id="csvFileUpload" accept=".csv" />
     </fieldset>
  </div>


  <div class="subcontainer"></div>
  <div class="revenueLink"></div>
</div>



<script type="text/javascript">
var csrfToken = $("meta[name='csrf-token']").attr("content");

// Method that checks that the browser supports the HTML5 File API
function compatibleBrowser() {
    var isCompatible = false;
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      isCompatible = true;
    }
    return isCompatible;
}

// Method that reads and processes the selected file
function upload(event){
  if (!compatibleBrowser()) {
    alert('File APIs (HTML5) are not available with this browser!');
  } else {
    var data = null;
    var file = event.target.files[0];
    var reader = new FileReader();
    reader.readAsText(file);
    totalRevenue = 0;
    reader.onload = function(event) {
        var csvData = event.target.result;
        let lines = csvData.split("\n");
        var row = 0;
        var headers = null;
        var headerIndex = 0
        var priceIndex = 0;
        var quantityIndex = 0;
        var sales = []
        lines.forEach(function(line) {
          var elts = line.split(",");
          if(row === 0) { // header row
            headers = elts;
            headers.forEach(function(header){
              if (header === "Item Price") { priceIndex = headerIndex; }
              if (header === "Quantity") { quantityIndex = headerIndex; }
              headerIndex += 1;
            })
          }
          else {
            var obj = {};
            var eltIndex = 0;
            elts.forEach(function(elt){
              if (eltIndex === priceIndex || eltIndex === quantityIndex) {
                obj[headers[eltIndex]] = parseFloat(elt);
              }
              else {
                obj[headers[eltIndex]] = elt;
              }
              eltIndex += 1;
            });
            obj['headings'] = headers;
            console.log(obj);
            sales.push(obj);
            totalRevenue += parseFloat(elts[priceIndex])*parseFloat(elts[quantityIndex]);
          }
          row += 1;
        });

        $('.subcontainer').html('</br>Total revenue in uploaded .csv: $'+totalRevenue);

        sales.forEach(function(sale){
          const url = "localhost:3535/ingestSale";
          console.log(csrfToken);
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                      xhr.setRequestHeader("X-CSRF-Token", csrfToken)
                  }
              }
          });
          $.ajax({
            url: url,
            data: {"data": sale},
            type: 'POST'
          }).done(function(data){
            console.log(`${data}`);
          });
        });

      $('.revenueLink').html('<a href="/totalRevenue">View Total Revenue</a>')
    };
    reader.onerror = function() {
        alert('Unable to read ' + file.fileName);
    };
  }
}

$(document).ready(function() {
  // The event listener for the file upload
  document.getElementById('csvFileUpload').addEventListener('change', upload, false);
});




</script>
